body {
  line-height: 1.6;
}

.markdown-preview-view h1,
.markdown-preview-view h2 {
  border-bottom: 1px solid #3333;
  padding-bottom: 4px;
}

.markdown-preview-view blockquote {
  border-left: 4px solid #0096FF;
  background-color: rgba(0, 150, 255, 0.05);
  padding: 4px 10px;
}